.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#menu-background {
  background-image: url("D:/JOB CONNECTOR PURWADHIKA/PROJECT AKHIR/project1/src/images/backgroundhomepage.jpg");
}

#home-background {
  background-image: url("D:/JOB CONNECTOR PURWADHIKA/PROJECT AKHIR/project1/src/images/homepage.jpg");
  padding: 50px 0;
  width: auto;
  height: 100%;
}

#search-background {
  background-image: url("D:/JOB CONNECTOR PURWADHIKA/PROJECT AKHIR/project1/src/images/searchpage.jpg");
  padding: 50px 0 ;
  width: auto;
  height: 100%;
}

#menudetails {
  background-image: url("D:/JOB CONNECTOR PURWADHIKA/PROJECT AKHIR/project1/src/images/menudetails.jpg");
  padding: 50px 0 365px 0;
}

#cartpage {
  background-image: url("D:/JOB CONNECTOR PURWADHIKA/PROJECT AKHIR/project1/src/images/menudetails.jpg");
  padding: 50px 150px 355px 150px;
}

#transaction {
  background-image: url("D:/JOB CONNECTOR PURWADHIKA/PROJECT AKHIR/project1/src/images/menudetails.jpg");
  padding: 50px 150px 300px 150px;
}

#searchtitle {
  color: white;
}

.slide .makanan img {
  max-height: 450px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.hometitle{
  color: whitesmoke;
}

#navbarStyle {
  background-color: red;
}

#textNav {
  color: white;
}

#textNav:hover {
  color: yellow !important;
  background-color: #514848 !important;
  height: 55px;
}

#textNav:focus {
  color: yellow !important;
}

#navdrop {
  padding: 10px;
  display: inline-block;
  line-height: 15px;
  margin: 0 10px;
}

#navdroptext {
  color: black !important;
}

.icon-cart {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  margin-left: 0px;
  margin-bottom: 0px;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); 
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg); 
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg); 
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}

#imgthumbnail {
  height: 200px;
  width: 100%;
  overflow: auto;
}

#profile {
  padding-bottom: 10px;
}

#profile-edit {
  padding-bottom: 15px;
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}

.sidenav {
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 25px 10px;
  margin: 100px 25px;
  /* border: 2px solid red;
  border-radius: 5px; */
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

/* .sidenav a:hover {
  color: #064579;
} */

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
