.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#homepage{
  padding-top: 50px;
  width: auto;
  height: 100%;
} 

.slide .makanan img {
  max-height: 450px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.hometitle{
  color: black;
}

#navbarStyle {
  /* background-color: #c61515; */
  background-color: red;
}

#textNav {
  color: white;
}

#textNav:hover {
  color: yellow !important;
  background-color: #514848 !important;
}

#textNav:focus {
  color: yellow !important;
}

#textDropdown {
  color: #f0ff8e;
  background-color: #c61515;
  margin-top: 0px;
}

#textDropdown:hover {
  color: white !important;
  background-color: #514848 !important;
}

#divider {
  background-color: #c61515 !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
